<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <!-- viewport is important for responsive view -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Simple Escape</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.rawgit.com/afeld/bootstrap-toc/v0.4.1/dist/bootstrap-toc.min.css">

  <!-- load Vue.js development version -->
  <script src="https://unpkg.com/vue"></script>

<style>
.footer {
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: .05rem solid #e5e5e5;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity 1s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

.bounce-enter-active {
  animation: bounce-in .5s;
}
.bounce-leave-active {
  animation: bounce-in .5s reverse;
}
@keyframes bounce-in {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
</style>

</head>

<body>
<div id="app" class="container" style="max-width: 50em">
<header>
  <div class="py-3">
    <div class="row flex-nowrap justify-content-between align-items-center">
      <div class="col-4 pt-1 h4">
        <a class="text-muted" href="#">Digital Escape</a>
      </div>
      <div class="col-4 text-center">
      </div>
      <div class="col-4 d-flex justify-content-end align-items-center">
        <a class="btn btn-sm btn-outline-secondary" href="#">Sign up</a>
      </div>
    </div>
  </div>
</header>

<main>
  <h1>Simple Escape Level One</h1>
  <p>You need find all clues to get escape from here!!!</p>
  <p>
  Are you ready? 
  <button class="btn btn-danger" v-on:click="ready = 'yes'">Yes</button>
  <button class="btn btn-info" v-on:click="ready = 'no'">No</button>
  </p>

  <transition name="bounce">
  <div v-if="ready === 'yes'">
    <h3>Question one</h3>
    <h3>Puzzle two</h3>
    <h3>Question three</h3>
    <h3>Question four</h3>
  </div>
  <div v-if="ready === 'no'">
    <h3>Escape for Not Ready!</h3>
    <ul>
      <li>
<form class="form-inline">
  <label class="mr-2" for="inlineFormInputName2">Who is the current present of USA?</label>
  <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="Type your answer here" v-model="usaPresent">
</form>
      </li>
      <li v-if="usaPresent === 'Donald Trump'">Next question is comming...</li>
    </ul>
  </div>
  </transition>

</main>

<footer class="footer py-2">
  Build with love by <a href="https://leocorn.com/">Leocornus Ltd.</a>
</footer>
</div>

<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
<script src="https://cdn.rawgit.com/afeld/bootstrap-toc/v0.4.1/dist/bootstrap-toc.min.js"></script>

<!-- the js file has to be at the bottom. -->
<script src="simple-escape.js"></script>
</body>
</html>
